@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: linear-gradient(to top, #9ca3af, #4b5563, #060b26);
  color: #eee;
  z-index: -100;
  /* Center slide text vertically */

  display: flex;
  /* display: block; */
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.container {
  /* width: 100%; */
  margin-left: 1rem;
  margin-right: 1rem;
  /* position: relative; */
}
p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
.swiper-slide ul {
  margin: 1rem;
  text-align: left;
}
.swiper-slide ol {
  margin: 1rem;
  text-align: left;
}
.swiper-slide ul li {
  margin: 3rem;
  font-size: 1.5rem;
}
.swiper-slide ol li {
  margin: 3rem;
  font-size: 1.5rem;
}
.container h1 {
  margin: 2rem;
}
.container_large h1 {
  margin: 1rem;
}
.container_large ul li {
  margin: 1.4rem;
}
.css_syntax {
  width: 100%;
  height: 100%;
  background: url("./img/syntax.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}
.swiper-slide img {
  margin: auto;
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.css_history {
  width: 60%;
  height: 100%;
  margin: auto;
  background: url("./img/css-history.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .css_history {
    width: 38%;
    height: 100%;
  }
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  .css_syntax {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    opacity: 1;
  }
  .container h1 {
    margin: 1rem;
    font-size: 31px;
  }
  .container_large h1 {
    margin: 1rem;
    font-size: 31px;
  }
  .swiper-slide ul li {
    margin: 1rem;
    font-size: large;
  }
  .swiper-slide ol li {
    margin: 1rem;
    font-size: large;
  }
  .swiper-slide {
    background: linear-gradient(
      to top,
      rgb(156, 163, 175),
      rgb(75, 85, 99),
      rgb(6 11 38)
    );
    color: #eee;
  }
}
