@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: linear-gradient(to top, #9ca3af, #4b5563, #060b26);
  color: #eee;

  /* Center slide text vertically */

  /* display: flex; */
  /* display: block; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* gap: 1rem; */
  /* justify-content: center; */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.container {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  /* position: relative; */
}
p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
.swiper-slide ul {
  margin: 1rem;
  text-align: left;
}
.swiper-slide ul li {
  margin: 1rem;
  font-size: 20px;
}
.container h1 {
  margin: 0.5rem;
}
/* .swiper-slide img {
  width: 25%;
  height: 25%;
  margin: 2rem 0 0 1rem;
} */
.swiper-slide .img_css {
  width: 25%;
  height: 25%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .history {
  width: 60%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .css_syntax {
  width: 35%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .addcss_img {
  width: 35%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .css_color {
  width: 33%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .cssborder {
  width: 33%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .cssmargin {
  width: 33%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .cssdisplay {
  width: 33%;
  margin: 2rem 0 0 1rem;
}
.swiper-slide .cssposition {
  width: 30%;
  margin: 0.5rem 0 0 1rem;
}
.colors {
  width: 45%;
  /* height: 66%; */
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
.color_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.swiper-slide .container ol li {
  /* width: 100%; */
  margin: 1rem;
  font-size: 20px;
}
.swiper-slide .container ol {
  /* width: 100%; */
  margin: 1rem;
}
.css_backgrounds {
  margin: auto;
  width: 80%;
  height: 78%;
  background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  z-index: -1;
  /* opacity: 0.3; */
}
.opacity {
  display: flex;
  flex-direction: row;
  background: #eee;
}
.opacity1 {
  width: 25%;
  height: 100px;
  background-color: green;
}
.popup {
  background-color: rgb(10, 165, 189);
  color: #fff;
  padding-bottom: 1rem;
}
.popup_close {
  position: relative;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  padding: 0.5rem;
  color: #eee;
  background-color: rgb(230, 6, 6);
  width: 100%;
  cursor: pointer;
}
.popup_open {
  position: relative;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  padding: 0.5rem;
  color: #eee;
  width: 100%;
  background-color: rgb(10, 165, 189);
  cursor: pointer;
}
.codeeditor {
  font-size: 20px;
}
.codeeditor_addcsscode {
  font-size: 17px;
}
.codeeditor_addcsscodelarge {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .codeeditor {
    font-size: 10px;
  }
  .codeeditor_addcsscode {
    font-size: 10px;
  }
  .codeeditor_addcsscodelarge {
    font-size: 10px;
  }
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  .swiper-slide ul li {
    margin: 1rem;
    font-size: 15px;
    text-align: justify;
  }
  .swiper-slide ol li {
    margin: 1rem;
    font-size: 15px;
    text-align: justify;
  }
  .swiper-slide {
    background: linear-gradient(
      to top,
      rgb(156, 163, 175),
      rgb(75, 85, 99),
      rgb(6 11 38)
    );
    color: #eee;
  }
  .color_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .colors {
    font-size: medium;
  }
  .swiper-slide .container ol li {
    width: 87%;
    margin: 1rem;
    font-size: 15px;
    text-align: justify;
  }
  .container h1 {
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  .swiper-slide .img_css {
    width: 50%;
    margin: 1rem 0 0 1rem;
  }
  .swiper-slide .history {
    width: 80%;
    margin: 1rem 0 0 1rem;
  }
  .swiper-slide .addcss_img {
    width: 85%;
    margin: 2rem 0 0 1rem;
  }
  .swiper-slide .cssdisplay {
    width: 85%;
    margin: 2rem 0 0 1rem;
  }
  .swiper-slide .cssposition {
    width: 80%;
  }
}
