.codeeditor {
  font-size: 20px;
}
.codeeditor_addcsscode {
  font-size: 17px;
}
.codeeditor_addcsscodelarge {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .codeeditor {
    font-size: 10px;
  }
  .codeeditor_addcsscode {
    font-size: 10px;
  }
  .codeeditor_addcsscodelarge {
    font-size: 10px;
  }
}
